<a href="https://colab.research.google.com/github/ajay2517/ajay_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
#inbuilt method
s="ajay"
print(len(s)) 
#using for loop
s="ajay"
length=0
for i in s:
  length=length+1
print(length)

4
4

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

s='google.com'
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
 
d1=sorted(d.items(),key=lambda x:x[1],reverse=True)
print(d1)

[('o', 3), ('g', 2), ('l', 1), ('e', 1), ('.', 1), ('c', 1), ('m', 1)]

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
l=[1,2,3,4,5]
sum=0  #initializing sum=0
for i in range(len(l)):
  sum=sum+l[i]
print(sum)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:

# write your answer here

#s="restart"
s="raamaraor"
f=s[0]
ss=""
for i in range(1,len(s)):
  ss=ss+s[i]
for j in range(0,len(ss)):
   if f==ss[j]:
     ss=ss.replace(ss[j],"$")
print(f+ss)

raama$ao$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
a=int(input())
b=int(input())
s=3.14*((1+a/b)**3)
print(s)

1
1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
d4 = {**dic1, **dic2, **dic3}
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
t=(1,2,3,4,5)
e=5
flag=0
for i in t:
  if i==e:
    flag=1
    print('exists')
    break
    
if flag==0:
    print("not exists")

exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
s={1,2,3,4,5} 
print(min(s))#inbuilt method for finding minimum value
print(max(s))#inbuilt method for finding maximum value

1
5

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [3]:
# write your answer here
from itertools import islice
from random import randint
S_L =['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def stud_group(S_L,noOfG,mins=4,maxs=6):
  Li_Stud=iter(S_L)
  for i in range(noOfG):
   StGrp = list(islice(Li_Stud,randint(mins,maxs)))
   if StGrp:
    yield StGrp
   else:
    break

print(list(stud_group(S_L,6)))

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252'], ['sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609'], ['ms1500', 'aos0040', 'ds0814', 'av0659']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
l=[1,2,3,4,1,2]
#l=[1,2,3,4,5] - swample input2 for testing
flag=0 # to rteurn -1 if there are no duplicate elemnents
for i in range(0, len(l)):    
    for j in range(i+1, len(l)):    
        if(l[i] == l[j]):    
            print(l[j])  #printing all the duplicate elements 
            flag=1
            continue
if flag==0:
  print(-1)

1
2

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta
def sun(y):
       dat = date(y, 1, 1) # January 1st of the given year
       dat += timedelta(days = 6 - dat.weekday())  # First Sunday of the given year   
       while dat.year == y:
          yield dat
          dat += timedelta(days = 7)
          
for i in sun(2023): # passing year as 2023
   print(i)   # all thr sundays in year 2023

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31